:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--clr-light);
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 720px; /*may adjust afterwards*/
  height: 720px;
  border: 2px solid var(--clr-dark);
}

.square {
  box-sizing: border-box;
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
}