:root {
  --clr-dark: #0f172a;
  --clr-light: #f1f5f9;
  --clr-accent: #e11d48;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--clr-light);
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  padding: 10px;
}

button {
  background-color: #0f172a;
  color: #f1f5f9;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
}

#color {
  color: #e11d48;
}

#random {
  color: rgb(131, 180, 173);
}

#darken {
  color: grey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 720px; /*may adjust afterwards*/
  height: 720px;
  border: 2px solid var(--clr-dark);
}

.square {
  box-sizing: border-box;
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-light);
}